@{
    ViewData["Title"] = "Database Viewer";
}

<!DOCTYPE html>
<html>
<head>
    <title>Profil</title>
    <style>
        body {
            background-color: Azure;
            font-family: Arial, sans-serif;
            font-size: 20px; /* Adjust the font size as needed */
        }

        div {
            width: 800px;
            margin: 0 auto;
        }

        .container {
            background-color: aquamarine;
            display: flex;
            text-align: left;
        }

        .left-container {
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            padding-top: 12px;
            gap: 30px;
            align-items: flex-start;
            width: 45%; /* Adjust the width as needed */
            margin-right: 70px; /* Adjust the space between left and right containers */
        }

        form {
            display: flex;
        }

        .right-container {
            margin: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 30%; /* Adjust the width as needed */
        }
        #jeToJedno{
            margin-top:10px;
        }

        button {
            width: 150px; /* Adjust the width as needed */
            font-size: 15px; /* Adjust the font size as needed */
        }

        img {
            width: 300px;
            height: 195px;
        }
    </style>
</head>
<body>
    <div>
        <div class="container">
            <div class="left-container">
                <div>
                    <label style="margin-right: 5px;">Jméno:</label>
                    <span name="name" style="vertical-align: middle;">Ondřej</span>
                </div>
                <div>
                    <label style="margin-right: 5px;">Příjmení:</label>
                    <span name="surname" style="vertical-align: middle;">Neustadt</span>
                </div>
                <div>
                    <label style="margin-right: 5px;">Email:</label>
                    <span name="profesion" style="vertical-align: middle;">Lekar</span>
                </div>
                <select style="width: 50%">
                    <option value="Belzebub">Belzebub</option>
                </select>
            </div>
            <div class="right-container">
                <img name="picture" src="https://www.stargate-project.de/storage/app/media/charakterguide/stargate-atlantis-charakterguide-rodney-mckay-david-hewlett.jpg" />
                <button id="pictureChange">Změnit obrázek</button>
                <input type="file" id="jeToJedno" />
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $('#pictureChange').on('click', function () {
            pictureChange();
        });

        function pictureChange() {
            console.log("Jsem v pictureChange");
            var soubor = document.getElementById("jeToJedno").files[0];

            console.log(soubor);
            var reader = new FileReader();
            reader.readAsDataURL(soubor);
            reader.onload = function () {
                let encoded = reader.result.toString().replace(/^data:(.*,)?/, '');
                if ((encoded.length % 4) > 0) {
                    encoded += '='.repeat(4 - (encoded.length % 4));
                }
                fetch('@Url.Action("PictureChange", "Profil")', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ nazev: soubor.name, typ: soubor.type, data: encoded }),
                })
                    .then(response => {
                        if (response.ok) {

                            // Handle success
                            // You may not need to do anything if the response doesn't contain a body
                        } else {
                            // Handle error
                        }
                    })
                    .catch(error => {
                        console.log("Jejda, něco se stalo při přidávání obrázku/dokumentu!!");
                    });
            }
            reader.onerror = function (error) {
                console.log('Error: ', error);
            }
        }
    </script>
</body>
</html>
