@{
    ViewData["Title"] = "Database Viewer";
}

<!DOCTYPE html>
<html>
<head>
    <title>Profil</title>
    <style>
        body {
            background-color: Azure;
            font-family: Arial, sans-serif;
            font-size: 20px; /* Adjust the font size as needed */
        }

        div {
            width: 800px;
            margin: 0 auto;
        }

        .container {
            background-color: aquamarine;
            display: flex;
            text-align: left;
        }

        .left-container {
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            padding-top: 12px;
            gap: 30px;
            align-items: flex-start;
            width: 45%; /* Adjust the width as needed */
            margin-right: 70px; /* Adjust the space between left and right containers */
        }
        form{
            display:flex;
        }

        .right-container {
            margin: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;
            width: 30%; /* Adjust the width as needed */
        }

        button {
            width: 150px; /* Adjust the width as needed */
            font-size: 15px; /* Adjust the font size as needed */
        }

        img {
            width: 300px;
            height: 195px;
        }
    </style>
</head>
<body>
    <div>
        <div class="container">
            <form method="post" action="/Profil/UpdateProfile">
                <div class="left-container">
                    <div>
                        <label style="margin-right: 5px;">Jméno:</label>
                        <span name="name" style="vertical-align: middle;">Ondřej</span>
                    </div>
                    <div>
                        <label style="margin-right: 5px;">Příjmení:</label>
                        <span name="surname" style="vertical-align: middle;">Neustadt</span>
                    </div>
                    <div>
                        <label style="margin-right: 5px;">Email:</label>
                        <span name="profesion" style="vertical-align: middle;">Lekar</span>
                    </div>
                </div>
                <div class="right-container">
                    <img name="picture" src="https://www.stargate-project.de/storage/app/media/charakterguide/stargate-atlantis-charakterguide-rodney-mckay-david-hewlett.jpg" />
                    <button name="pictureChange">Změnit obrázek</button>
                    <input type="submit" value="Uložit změny" style="display:none;" name="saveChanges" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>
