################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Semestralni_Prace/BackVse/Semestralni_prace/bin/Debug/net7.0
/Spoustec/.vs/Spoustec/FileContentIndex
