@page
<!-- model Semestralni_prace.Controllers.ZaznamyController-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zaznamy</title>
    <style>
        body {
            background-color: Azure;
            font-family: Arial, sans-serif;
        }

        table {
            border-collapse: collapse;
            width: 80%;
            margin: 20px auto;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Záznamy</h2>

    <table>
        <thead>
            <tr>
                <th>Jméno</th>
                <th>Pohlaví</th>
                <th>Datum Narození</th>
                <th>Datum Umrtí</th>
                <th>Jméno vlastníka</th>
                <th>Rasa</th>
                <th>Množství bílých krvinek</th>
                <th>Množství červených krvinek</th>
                <th>Lék</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>Jmeno</td>
                    <td>Pohlavi</td>
                    <td>Narozeni.ToString("dd/MM/yyyy")</td>
                    <td>Umrti.HasValue ? record.Umrti.Value.ToString("dd/MM/yyyy") : "")</td>
                    <td>JmenoVlastnika</td>
                    <td>NazevPlemene</td>
                    <td>MnozstviBilychKrvinek</td>
                    <td>MnozstviCervenychKrvinek</td>
                    <td>NazevLeku</td>
                </tr>
        </tbody>
    </table>
</body>
</html>
