@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>PacientProfile</title>
</head>
<body style="background-color: Azure;">
    <div style="width: 800px; height: 450px; margin: 0 auto;">
        <div style="background-color: Azure; vertical-align: middle; text-align: center;">
            <div style="margin: 15px;">
                <div style="display: flex; flex-direction: row; height: 408px; margin: 15px 15px 0 0;">
                    <div>
                        <div style="display: flex; flex-direction: column; width: 239px;">
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <label style="margin-right: 5px;">Jméno:</label>
                                <span name="jmeno" style="vertical-align: middle;">Rex</span>
                            </div>
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <label style="margin-right: 5px;">Datum narození:</label>
                                <span name="date" style="vertical-align: middle;">13.05.2018</span>
                            </div>
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <label style="margin-right: 5px;">Pohlaví:</label>
                                <span name="pohlavi" style="vertical-align: middle; width: 38px;">Fenka</span>
                            </div>
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <label style="margin-right: 5px;">Rasa:</label>
                                <span name="rasa" style="vertical-align: middle; width: 110px;">Border Kolie</span>
                            </div>
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <label style="margin-right: 5px;">Vlastník:</label>
                                <span name="vlastnik" style="vertical-align: middle;">Ondřej Neustadt</span>
                            </div>
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <label style="margin-right: 5px;">Adresa:</label>
                                <span name="adresa" style="vertical-align: middle;">Regis 420, Insomnia III</span>
                            </div>
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <label style="margin-right: 5px;">Číslo průkazu:</label>
                                <span name="cisloPrukaz" style="vertical-align: middle;">000001</span>
                            </div>
                            <button name="saveChange" style="margin-top: 20px;" disabled="disabled">Uložit změny</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
