@model Tuple<List<Semestralni_prace.Models.Classes.Rasa>, List<Semestralni_prace.Models.Classes.Adresy>>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>PacientAdd</title>
    <style>
        body {
            background-color: Azure;
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        div {
            font-size: 16px;
            margin-bottom: 15px;
        }

        label {
            margin-right: 10px;
        }

        input[type="text"], select {
            vertical-align: middle;
            font-size: 16px;
            padding: 5px;
            width: 150px; /* Adjust the width as needed */
        }

        select {
            width: 200px; /* Adjust the width as needed */
        }

        button {
            margin-top: 20px;
            padding: 10px;
            font-size: 18px;
            cursor: pointer;
        }

        /* Additional styling for dividing Adresa into Město, Ulice, and Číslo popisné */
        .divided-row {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

            .divided-row label {
                margin-right: 5px;
            }

            .divided-row input[type="text"] {
                width: 150px; /* Adjust the width as needed */
            }
    </style>
</head>
<body>
    <div style="width: 800px; height: 450px; margin: 0 auto;">
        <div style="background-color: Azure; vertical-align: middle; text-align: center;">
            <div style="margin: 15px;">
                <div style="display: flex; flex-direction: row; height: 408px; margin: 15px 15px 0 0;">
                    <div>
                        <div style="display: flex; flex-direction: column; height: 407px; width: 297px;">
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <label style="margin-right: 5px;">Jméno:</label>
                                <input type="text" id="jmeno" style="vertical-align: middle;" value="Rex" />
                            </div>
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <label style="margin-right: 5px;">Datum narození:</label>
                                <input type="text" id="datumN" style="vertical-align: middle;" value="13.05.2018" />
                            </div>
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <label style="margin-right: 5px;">Datum Umrtí:</label>
                                <input type="text" id="datumU" style="vertical-align: middle;" value="20.07.2023" />
                            </div>
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <label style="margin-right: 5px;">Pohlaví:</label>
                                <select id="pohlavi" style="vertical-align: middle; width: 100px;">
                                    <option>Fena</option>
                                    <option>Samec</option>
                                </select>
                            </div>
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <label style="margin-right: 5px;">Rasa:</label>
                                <select id="rasa" style="vertical-align: middle; width: 150px;">

                                    @foreach (var record in Model.Item1)
                                    {
                                        <option>@record.JmenoRasa</option>
                                    }
                                </select>
                            </div>
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <label style="margin-right: 5px;">Vlastník křestní:</label>
                                <input type="text" id="krestni" style="vertical-align: middle;" value="Ondřej" />
                            </div>
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <label style="margin-right: 5px;">Vlastník příjmení:</label>
                                <input type="text" id="prijmeni" style="vertical-align: middle;" value="Neustadt" />
                            </div>
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <label style="margin-right: 5px;">E-mail:</label>
                                <input type="text" id="email" style="vertical-align: middle;" value="format@upce.cz" />
                            </div>
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <label style="margin-right: 5px;">Telefonní číslo:</label>
                                <input type="text" id="telefon" style="vertical-align: middle;" value="792 865 335" />
                            </div>
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <label style="margin-right: 5px;">Číslo průkazu:</label>
                                <input type="text" id="cisloPrukaz" style="vertical-align: middle;" value="000001" />
                            </div>
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <label style="margin-right: 5px;">Číslo Chipu:</label>
                                <input type="text" id="cisloChip" style="vertical-align: middle;" value="000001" />
                            </div>
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <label style="margin-right: 5px;">Klinika:</label>
                                <select id="klinika" style="vertical-align: middle; width: 150px;">
                                    @foreach (var record in Model.Item2)
                                    {
                                        <option>@record.City</option>
                                    }
                                </select>
                            </div>
                            <button id="btnAdd" style="margin-top: 20px;">Přidat záznam</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $('#btnAdd').on('click', function () {
            Add();
        });
        function Add() {
            console.log("jsem v metodě!")
            console.log($('#jmeno').val())
            console.log($('#datumN').val())
            fetch('@Url.Action("BtnAdd", "Pacient")', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    jmenoZvire: $('#jmeno').val(),
                    datumN: $('#datumN').val(),
                    datumU: $('#datumU').val(),
                    pohlavi: $('#pohlavi').val(),
                    rasa: $('#rasa').val(),
                    krestni: $('#krestni').val(),
                    prijmeni: $('#prijmeni').val(),
                    email: $('#email').val(),
                    telefon: $('#telefon').val(),
                    cisloPrukaz: $('#cisloPrukaz').val(),
                    cisloChip: $('#cisloChip').val(),
                    klinikaMesto: $('#klinika').val()
                })
            })
                .then(response => {
                    if (response.ok) {
                        // Handle success
                        // You may not need to do anything if the response doesn't contain a body
                    } else {
                        console.log("Hupsík dupsík, něco se pokazilo při funkci přidávání pacient: ");
                    }
                })
            /* update záznamu v databázi, něco ve stylu UPDATE tabulka SET $(entries[i][0]) = $(entries[i][1]) WHERE id = $(rowId) */
        }

    </script>
</body>
</html>
