@page

<!DOCTYPE html>
<html>
<head>
    <title>Omezený přístup</title>
</head>
<body>
    <h2 style=" font:bold; color:red ">Omlouváme se, ale nemáte oprávnění k zobrazení této stránky.</h2>
    <p>Pokud si myslíte, že byste měli mít přístup, kontaktujte prosím správce.</p>
    <!-- Add any additional content or links as needed -->
</body>
</html>