@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Tento projekt je sepsán Jindrou Kunešem a Ondřejem Neustadtem. Jelikož se jedná o projekt do školního předmětu,
    všechny nároky na vlastnictví budou nejspíše připadat škole. Nevím o čem píšu, jen nechci todle mít defaultni.</p>
