@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<style>
    .plain-link {
        text-decoration: none;
        color: black; 
        cursor: text;
    }
</style>
<p>
    Tento projekt je sepsán Jindrou Kunešem a <a href="https://www.youtube.com/watch?v=gWeEnlKDEMU" target="_blank" class="plain-link">Ondřejem Neustadtem</a>. Jelikož se jedná o projekt do školního předmětu,
    všechny nároky na vlastnictví budou nejspíše připadat škole. Nevím o čem píšu, jen nechci todle mít defaultni.</p>
